<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">GuaranteeDuration</th>
      <th scope="col">MadIn</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of products; track item.id) {
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.guaranteeDuration }}</td>
      <td>{{ item.madeIn }}</td>
      <td>
        <button (click)="delete(item.name)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
